.navbar {
    z-index: 2;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    background-color: #272727;
    padding: 1rem;
    .navbar__toggle-sidebar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 2rem;
        height: 2rem;
        .toggle-sidebar__line {
            background-color: white;
            height: 4px;
            width: 40px;
        }
    }
    .navbar__searchbar {
        width: 50%;
        height: 1.5rem;
        border: 0 solid transparent;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-right: 25%;
    }
}